@model IEnumerable<NewsAggregator.Models.RssSource.RssSourceViewModel>

@{
}
<h1>Available sources</h1>

<p>
    <a asp-action="Create" method="post">Create New</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Url)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.Name
            </td>
            <td>
                @item.Url
            </td>
            <td>
                @*<a asp-action="Create" asp-route-id="@item.Id">Details</a> |*@
            </td>
        </tr>
    }
    </tbody>
</table>
<a asp-action="AggregateNewsFromRssSources" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Aggregate news!</a>