@model IEnumerable<NewsAggregator.Models.NewsViewModel>

<h1 class="display-4">The best news!</h1>
<br />
<div class="container" id="infinity-scroll">
    @foreach (var item in Model)
    {
        @*<div>
                @Html.Raw(item.Body)
            </div>*@
        <div class="card col-lg-12">
        </div>
        <div class="card col-lg-12">
            <div class="card-body">
                <h5 class="card-title">@item.Article</h5>
                <p class="card-text">@item.Body</p>
                <a class="card-link" asp-action="Detail" asp-route-id="@item.Id">Read Full</a>
                <h6 class="card- mb-2 text-muted">Источник: @item.SourceName</h6>
                <h6 class="card- mb-2 text-muted" id="date">@item.PublishTime</h6>
            </div>
        </div>
    }
</div>

@section Scripts
{
    <script src="~/js/infinityScroll.js"></script>
}


